<html ng-app="myApp">
<div>
  <h1 class="title">2048</h1>
  <div>
    <div>
      <div class="score-container" id="score">{{score}}</div>
      <div class="best-container">{{bestScore}}</div>
    </div>
    <button class="button" (click)="newGame()">New Game</button>
  </div>
</div>
<div class="grid--container">
  <div *ngFor="let element of elements" class="game--pile game--pile-{{element}}">
    {{element}}
  </div>
</div>

</html>