html,body{
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.grid--container{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-color: #bbada0;
    margin-top: 10%;
}
.game--pile{
    margin: 2.5%;
    height: 20%;
    width: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;  
    color: #776E65;
    animation: merge 1s ease-in-out;

}
.game--pile-0{
    background-color: #cdc1b4;
    color: #cdc1b4; 
    
}
.game--pile-2{
    background-color: #eee4da;
}
.game--pile-4{
    color: #776E65;
    background-color: #eee1c9;
}
.game--pile-8{
    color: #f9f6f2;
    background-color: #f3b27a;
}
.game--pile-16{
    color: #f9f6f2;
    background-color: #f69664;
}
.game--pile-32{
    color: #f9f6f2;
    background-color: #f77c5f;
}
.game--pile-64{
    color: #f9f6f2;
    background-color: #f75f3b;
}
.game--pile-128{
    color: #f9f6f2;
    background-color: #edd073;
}
.game--pile-256{
    color: #f9f6f2;
    background-color: #edcc62;
}

.game--pile-512{
    color: #f9f6f2;
    background-color: #edc950;
}
.game--pile-1024{
    color: #f9f6f2;
    background-color: #edc53f;
}
.game--pile-2048{
    color: #f9f6f2;
    background-color: #edc22e;
}

.button{
    display: flex;
    background: #8f7a66;
    border-radius: 5px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 40px; 
    cursor: pointer;
    text-align: center;
    float: right;
}

.title{
    align-content: center;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: flex;
    float: left;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.score-container, .best-container{
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}
.score-container:after, .best-container:after {
   position: absolute;
   width: 100%;
   top: 10px;
   left: 0;
   text-transform: uppercase;
   font-size: 13px;
   line-height: 13px;
   text-align: center;
   color: #eee4da;
}

.score-container:after{
    content: "Score";
}
.best-container:after{
    content: "Best"
}

@keyframes merge{
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    100%{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}